---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Basic usage

{{tffile "internal/provider/testdata/resources/brew/resources_brew_basic.tf"}}

{{ .SchemaMarkdown | trimspace }}
